<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/nav.css">
    <link rel="stylesheet" href="../public/css/price.css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <title>어컴퍼니 관리자</title>
</head>
<body>
    <%-header%>
    <div class="content_container">
        <%-nav%>
        <div class="content_box">
            <img src="../public/img/slide/title.png" alt="타이틀이미지">
            <div class="menu_btn">
                <ul>
                    <li>SK</li>
                    <li>KT</li>
                    <li>LG</li>
                </ul>
            </div>
            <ul class="price_box">
                <li class="sk">
                    <form action="/price/sk" method="POST">
                    <div class="olleh_kt">
                        <h3>SKB 홈결합 / <b>온가족 프리</b></h3>
                        <h5>온가족 할인시 최대 인터넷 50% 할인</h5>
                        <p class="sub_title">[3년 약정 / VAT 포함]</p>
                        <table class="olleh_kt_table">
                            <thead>
                                <tr>
                                    <td rowspan="2">인터넷 상품</td>
                                    <td rowspan="2">휴대폰<br>(모바일)<br>결합여부</td>
                                    <td colspan="3">인터넷 요금표</td>
                                    <td>상품권 + 사은품</td>
                                </tr>
                                <tr>
                                    <td>스마트광랜<br><b>100M</b></td>
                                    <td>기가라이트<br><b>500M</b></td>
                                    <td>기가인터넷<br><b>1G</b></td>
                                    <td>전체</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2">1. 인터넷</td>
                                    <td>미결합시<br>(홈결합)</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td rowspan="2" class="impact">최대 지급</td>
                                </tr>
                                <tr>
                                    <td>결합시<br>(온가족프리)</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                </tr>
                                <tr>
                                    <td rowspan="2">2. 인터넷 + NEW 베이직</td>
                                    <td>미결합시<br>(홈결합)</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td rowspan="2" class="impact">최대 지급</td>
                                </tr>
                                <tr>
                                    <td>결합시<br>(온가족프리)</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                </tr>
                                <tr>
                                    <td rowspan="2">3. 인터넷 + B tv 라이트</td>
                                    <td>미결합시<br>(홈결합)</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td rowspan="2" class="impact">최대 지급</td>
                                </tr>
                                <tr>
                                    <td>결합시<br>(온가족프리)</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                </tr>
                                <tr>
                                    <td rowspan="2">4. 인터넷 + B tv ALL</td>
                                    <td>미결합시<br>(홈결합)</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td rowspan="2" class="impact">최대 지급</td>
                                </tr>
                                <tr>
                                    <td>결합시<br>(온가족프리)</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="olleh_kt">
                        <h3>SKB온가족 할인</h3>
                        <h5>휴대폰 결합구성원이 가입년수에 따라 인터넷결합 할인시 최대 50% 할인상품</h5>
                        <p class="sub_title">[3년 약정 / VAT 포함]</p>
                        <table class="olleh_kt_table">
                            <thead>
                                <tr>
                                    <td rowspan="2">가입 상품</td>
                                    <td rowspan="2">인터넷</td>
                                    <td colspan="3">할인</td>
                                    <td rowspan="2">사은품</td>
                                </tr>
                                <tr>
                                    <td>20%</td>
                                    <td>30%</td>
                                    <td>50%</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="3" style="font-weight:bold; font-size:1em;">1. 인터넷</td>
                                    <td>100M 스마트 광랜</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td rowspan="3" class="impact">최대 지급</td>
                                </tr>
                                <tr>
                                    <td>500M 기가라이트</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight:500">1G 기가라이트</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                </tr>
                                <tr>
                                    <td rowspan="3" style="font-weight:bold; font-size:1em;">2. 인터넷 + NEW베이직</td>
                                    <td>100M 스마트 광랜</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td rowspan="3" class="impact">최대 지급</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:500">500M 기가라이트</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                </tr>
                                <tr>
                                    <td>1G 기가라이트</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                </tr>
                                <tr>
                                    <td rowspan="3" style="font-weight:bold; font-size:1em;">3. 인터넷 + B tv 라이트</td>
                                    <td>100M 스마트 광랜</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td rowspan="3"class="impact">최대 지급</td>
                                </tr>
                                <tr>
                                    <td>500M 기가라이트</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight:500">1G 기가라이트</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                </tr>
                                <tr>
                                    <td rowspan="3" style="font-weight:bold; font-size:1em;">4. 인터넷 + B tv ALL</td>
                                    <td>100M 스마트 광랜</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td rowspan="3"class="impact">최대 지급</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:500">500M 기가라이트</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                </tr>
                                <tr>
                                    <td>1G 기가라이트</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                </tr>
                            </tbody>
                    </table>
                </div>
        
                    <div class="olleh_kt">
                        <h3>SKT온가족 플랜</h3>
                        <h5>휴대폰 2회선이상 결합시 인터넷 요금 할인 + 휴대폰 통신 요금할인</h5>
                        <p class="sub_title">[3년 약정 / VAT 포함]</p>
                        <table class="olleh_kt_table">
                            <thead>
                                <tr>
                                    <td rowspan="2">가입 상품</td>
                                    <td colspan="3">요금</td>
                                    <td rowspan="2">상품권 + 사은품</td>
                                </tr>
                                <tr>
                                    <td>스마트광랜<br>100M</td>
                                    <td>기가라이트<br>500M</td>
                                    <td>기가인터넷<br>1G</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="font-weight:bold; font-size:1em;">1. 인터넷</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td class="impact">최대 지급</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:bold; font-size:1em;">2. 인터넷 + NEW베이직</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td class="impact">최대 지급</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:bold; font-size:1em;">3. 인터넷 + B tv 라이트</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td class="impact">최대 지급</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:bold; font-size:1em;">4. 인터넷 + B tv ALL</td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td><input type="text" name="price" class="sk_value"></td>
                                    <td class="impact">최대 지급</td>
                                </tr>
                            </tbody>
                    </table>
                </div>
                    <input type="submit" class="submit_btn" value="수정">
                </form>
                </li>
                <li class="kt">
                    <form action="/price/kt" method="POST">
                        <div class="olleh_kt">
                            <h3>올레 KT</h3>
                            <p class="sub_title">[3년 약정 / VAT 포함]</p>
                            <table class="olleh_kt_table">
                                <thead>
                                    <tr>
                                        <td rowspan="2">인터넷상품</td>
                                        <td rowspan="2">휴대폰<br>(모바일)<br>결합여부</td>
                                        <td colspan="3">인터넷 요금표</td>
                                        <td>상품권 + 사은품</td>
                                    </tr>
                                    <tr>
                                        <td>올레<br>100M</td>
                                        <td>기가콤펙트<br>500M</td>
                                        <td>광기가<br>1G</td>
                                        <td>전체</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td rowspan="2">1. 인터넷</td>
                                        <td>미결합시</td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td rowspan="2" class="impact">최대 지급</td>
                                    </tr>
                                    <tr>
                                        <td>결합시</td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">2. 인터넷 + TV 베이직(UHD셋탑)</td>
                                        <td>미결합시</td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td rowspan="2" class="impact">최대 지급</td>
                                    </tr>
                                    <tr>
                                        <td>결합시</td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">3. 인터넷 + TV 라이트(UHD셋탑)</td>
                                        <td>미결합시</td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td rowspan="2" class="impact">최대 지급</td>
                                    </tr>
                                    <tr>
                                        <td>결합시</td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">4. 스마트인터넷 + TV 에센스(UHD셋탑)</td>
                                        <td>미결합시</td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td rowspan="2" class="impact">최대 지급</td>
                                    </tr>
                                    <tr>
                                        <td>결합시</td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
            
                        <div class="olleh_kt">
                            <h3>올레 KT</h3>
                            <p class="sub_title">[3년 약정 / VAT 포함]</p>
                            <table class="olleh_kt_table">
                                <thead>
                                    <tr>
                                        <td rowspan="2">종류<br><b style="font-size:0.4em;font-weight:400;">- 와이파이 1,100원 추가(1G 무상)<br>- 기가지니셋탑 1,100원 추가</b></td>
                                        <td colspan="3">월 사용 요금 총액 (3년 약정)</td>
                                        <td colspan="3">총 지급 사은품</td>
                                    </tr>
                                    <tr>
                                        <td>올레<br><b style="color:#ff0008">100M</b></td>
                                        <td>기가콤팩트<br><b style="color:#ff0008">500M</b></td>
                                        <td>광기가<br><b style="color:#ff0008">100M</b></td>
                                        <td>올레<br><b style="color:#ff0008">1G</b></td>
                                        <td>기가콤팩트<br><b style="color:#ff0008">500M</b></td>
                                        <td>광기가<br><b style="color:#ff0008">1G</b></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="font-weight:bold">1. 인터넷</td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td colspan="3" class="impact">최대 지급</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight:bold">2. 인터넷 + TV 베이직(UHD셋탑)</td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td colspan="3" class="impact">최대 지급</td>
                                    </tr>                            <tr>
                                        <td style="font-weight:bold">3. 인터넷 + TV 라이트(UHD셋탑)</td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td colspan="3" class="impact">최대 지급</td>
                                    </tr>                            <tr>
                                        <td style="font-weight:bold">4. 인터넷 + TV 에센스(UHD셋탑)</td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td><input type="text" name="price" class="kt_value"></td>
                                        <td colspan="3" class="impact">최대 지급</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    <input type="submit" class="submit_btn" value="수정">
                </form>
                </li>
                <li class="lg">
                    <form action="/price/lg" method="POST">
                        <div class="olleh_kt">
                            <h3>인터넷 / <b style="color:#77787b;">TV 요금제</b></h3>
                            <p class="sub_title">[3년 약정 / VAT 포함]</p>
                            <table class="olleh_kt_table">
                                <thead>
                                    <tr>
                                        <td rowspan="2">인터넷 상품</td>
                                        <td rowspan="2">휴대폰<br>(모바일)<br>결합여부</td>
                                        <td colspan="3">인터넷 요금표</td>
                                        <td>상품권 + 사은품</td>
                                    </tr>
                                    <tr>
                                        <td>광랜<br><b>100M</b></td>
                                        <td>기가슬림<br><b>500M</b></td>
                                        <td>기가인터넷<br><b>1G</b></td>
                                        <td>전체</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td rowspan="2">1. 스마트인터넷</td>
                                        <td>미결합시</td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td rowspan="2" class="impact">최대 지급</td>
                                    </tr>
                                    <tr>
                                        <td>결합시</td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">2. 스마트인터넷 + 베이직 UHD TV</td>
                                        <td>미결합시</td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td rowspan="2" class="impact">최대 지급</td>
                                    </tr>
                                    <tr>
                                        <td>결합시</td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">3. 스마트인터넷 + 프리미엄 UHD TV</td>
                                        <td>미결합시</td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td rowspan="2" class="impact">최대 지급</td>
                                    </tr>
                                    <tr>
                                        <td>결합시</td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">4. 스마트인터넷 + 프리미엄 넷플릭스 HD</td>
                                        <td>미결합시</td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td rowspan="2" class="impact">최대 지급</td>
                                    </tr>
                                    <tr>
                                        <td>결합시</td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="olleh_kt">
                            <h3>인터넷 가족끼리 모여 할인</h3>
                            <h5>U+ 인터넷을 이용하는 가족이 있으면 <b class="pink">매달 5,500원을 할인</b>받는 서비스</h5>
                            <p class="sub_title">[3년 약정 / VAT 포함]</p>
                            <table class="olleh_kt_table">
                                <thead>
                                    <tr>
                                        <td rowspan="2">가입 상품</td>
                                        <td colspan="3">인터넷 요금표</td>
                                        <td colspan="3">상품권 + 사은품</td>
                                    </tr>
                                    <tr>
                                        <td>광랜<br><b class="pink">100M</b></td>
                                        <td>기가슬림<br><b class="pink">500M</b></td>
                                        <td>기가인터넷<br><b class="pink">1G</b></td>
                                        <td colspan="2">전체</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1. 스마트인터넷</td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td colspan="2" class="impact">최대 지급</td>
                                    </tr>
                                    <tr>
                                        <td>2. 스마트인터넷 + 베이직 UHD TV</td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td colspan="2" class="impact">최대 지급</td>
                                    </tr>
                                    <tr>
                                        <td>3. 스마트인터넷 + 프리미엄 UHD TV</td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td colspan="2" class="impact">최대 지급</td>
                                    </tr>
                                    <tr>
                                        <td>4. 스마트인터넷 + 프리미엄 넷플릭스 HD</td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td><input type="text" name="price" class="lg_value"></td>
                                        <td colspan="2" class="impact">최대 지급</td>
                                    </tr>
                                </tbody>
                        </table>
                    </div>
                    <input type="submit" class="submit_btn" value="수정">
                </form>

                </li>
            </ul>
            <script type="text/javascript">
                $(function(){
                    var menuBtn = $(".menu_btn > ul > li");
                    var priceBox = $(".price_box > li");
                    
                    menuBtn.each(function(index){
                        $(this).on("click",function(){
                            priceBox.fadeOut();
                            priceBox.eq(index).fadeIn();
                        });
                    });

                    $(window).load(function(){
                    var skInput = $('.sk_value');
                    var skValue = <%-sk%>;
                    var ktInput = $('.kt_value');
                    var ktValue = <%-kt%>;
                    var lgInput = $('.lg_value');
                    var lgValue = <%-lg%>;
                    for(var i = 0; i < skInput.length;i++){
                        skInput.eq(i).attr("value",skValue[i]);
                    }
                    for(var i = 0; i < ktInput.length;i++){
                        ktInput.eq(i).attr("value",ktValue[i]);
                    }
                    for(var i = 0; i < lgInput.length;i++){
                        lgInput.eq(i).attr("value",lgValue[i]);
                    }
                    });
                });
            </script>
        </div>
    </div>
</body>
</html>